<div class="contect__me">
    <div>
        <img class="w-100 py-3 px-2" src="https://static.wixstatic.com/media/b90e39_4ced603ea03e43f8974aa5a1455e662b~mv2.jpg/v1/fill/w_1469,h_617,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/darren-hughes-art-contact.jpg"
            alt="I'm not comming">
    </div>
    <div class="portfolio__contect_me">
        <div class="col-6">
            <h3 class="title">Get in touch</h3>
            <p>Darren appreciates hearing from people all
                over the world who enjoy his work and welcomes any questions or enquiries.
            </p>
            <p>Availability of original works can be found in each item’s description in the gallery section. If you are
                interested in a particular original or something you’ve seen on Darren’s social media, please reach out
                for more information.
                Limited edition fine art prints are available in the online
            </p>
        </div>
        <div class="col-6">
            <form>
                <div class="mb-3 input-group">
                    <input type="text" class="form-control" id="userName" placeholder="Enter your name">
                </div>
                <div class="mb-3 input-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter your email..">
                </div>
                <div class="mb-3 input-group">
                    <input type="text" class="form-control" id="subject" placeholder="Enter your Subject.">
                </div>
                <div class="input-group mb-3">
                    <textarea class="form-control" placeholder="Message" aria-label="With textarea"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>