<div class="">
    <div class="d-flex align-items-center justify-content-around portfolio__container py-4">
        <img class="self-image" src="assets/vishal-image.jpg" alt="I am not comming">
        <div class="w-50">
            <marquee behavior="scroll" direction="left" scrollamount="5">
                <h1 class="m-0">Welcome to my Portfolio.</h1>
            </marquee>
            <h2>Hii!,<br> <strong>I am Vishla Pandey.</strong></h2>
        </div>
    </div>
</div>
<app-about-me></app-about-me>
<app-experience></app-experience>
<!-- <app-contect-me></app-contect-me> -->

