<div class="main">
    <div class="experience__content">
        <h5 class="p-0 title">Professional Summary - </h5>
        <li class="p-0 description">
            2 years of experience in web development, with a strong focus on Angular and
            React.Js.
        </li>
        <li class="p-0 description">
            Proficient in Angular with a deep understanding of Angular best practices and
            design patterns.
        </li>
        <li class="p-0 description">
            Strong knowledge of HTML5, CSS3, JavaScript, TypeScript, and front-end build tools.
        </li>
        <li class="p-0 description">
            Experienced in RESTful API integration, and JSON data manipulation.
        </li>
        <li class="p-0 description">
            Responsive web development.

        </li>
        <li>
            Proficient in JavaScript, ES6+, HTML5, and CSS3.
        </li>
        <li>
            Excellent problem-solving skills and a commitment to delivering high-quality code
        </li>
        <li>
            Proficient in version control using Git and GitHub.
        </li>
    </div>

    <div class="experience__content">
        <h5 class="p-0 title">Work Experience</h5>
        <div class="techextensor">
            <a href="https://techextensor.com" target="_blank">TechExtensor.com,</a><span> Ahemdabad - <strong>Angular
                    developer</strong></span>
        </div>
        <li class="p-0 description">
            Collaborated with cross-functional teams to develop and maintain web applications
            using Angular.
        </li>
        <li class="p-0 description">
            Implemented responsive web design to ensure optimal user experiences across
            various devices.
        </li>
        <li class="p-0 description">
            Developed reusable components and modules to streamline development
            processes.
        </li>
        <li class="p-0 description">
            Integrated RESTful APIs to fetch and display dynamic data in real-time.
        </li>
        <li class="p-0 description">
            Conducted code reviews and performed debugging to ensure code quality.
        </li>
        <li>
            Optimized application performance through code refactoring and performance
            profiling.
        </li>
        <li>
            Worked closely with UI/UX designers to ensure the alignment of front-end code with
            design specifications.
        </li>
        <li>
            Kept up-to-date with Angular updates and industry best practices.
        </li>
    </div>
    <div class="experience__content">
        <div class="techextensor">
            <a href="https://appscrip.com" target="_blank">AppScrip.com,</a><span> Chandigarh - <strong>React
                    developer</strong></span>
        </div>
        <li class="p-0 description">
            Collaborated with cross-functional teams to design and develop web applications using React.js.
        </li>
        <li class="p-0 description">
            Implemented reusable and modular components to enhance code maintainability.
        </li>
        <li class="p-0 description">
            Utilized state management libraries (e.g., Redux) to manage complex application states.
        </li>
        <li class="p-0 description">
            Conducted code reviews and maintained code quality standards.
        </li>
        <li class="p-0 description">
            Ensured application responsiveness
        </li>
        <li>
            Developed and maintained React.js applications, focusing on front-end functionality.
        </li>
        <li>
            Kept up-to-date with React.js updates, best practices, and emerging front-end technologies.
        </li>
    </div>
    <div class="experience__content">
        <div class="techextensor">
            <a style="cursor: pointer;">Skills</a>
        </div>
        <li class="p-0 description">
            JavaScript
        </li>
        <li class="p-0 description">
            HTML5
        </li>
        <li class="p-0 description">
            CSS3
        </li>
        <li class="p-0 description">
            TypeScript
        </li>
        <li class="p-0 description">
            Angular
        </li>
        <li class="p-0 description">
            React.Js
        </li>
        <li class="p-0 description">
            Bootstrap
        </li>
        <li class="p-0 description">
            Material UI
        </li>
    </div>
    <div class="experience__content">
        <h4 class="text-center"> <span class="border-bottom">Projects</span></h4>
        <div class="techextensor">
            <a href="https://appscrip.com" target="_blank"><strong>Unsplash_Api</strong></a>
        </div>
        <li class="p-0 description">
            I am fetching data from Unsplash.com using Axios in
            react.js. I made this project in the class component and also the function
            component. I used Redux, ReduxSaga, Bootstrap, Css, Material UI And Rx.js in
            this project.
        </li>
    </div>
    <div class="experience__content">
        <div class="techextensor">
            <a href="https://appscrip.com" target="_blank"><strong>Student-Form - </strong></a>
        </div>
        <li class="p-0 description">
            Students can store data in chrome storage. Any student
            can update and delete the data. I used html css and javascript.
        </li>
    </div>
    <div class="experience__content">
        <div class="techextensor">
            <a href="https://appscrip.com" target="_blank"><strong>Crud-Application-In-Angular - </strong></a>
        </div>
        <li class="p-0 description">
            I made a crud application from a dummy
            url where We can create,read,update,and delete data.
        </li>
    </div>
    <div class="experience__content">
        <div class="techextensor">
            <a href="https://appscrip.com" target="_blank"><strong>Student-Form-in-angular - </strong></a>
        </div>
        <li class="p-0 description">
            Any student can store data in local storage
            and he can edit and delete.
        </li>
    </div>
    <div class="experience__content">
        <div class="techextensor">
            <a href="https://appscrip.com" target="_blank"><strong>Syncfusion - </strong></a>
        </div>
        <li class="p-0 description">
            This project is a demo of the Syncfusion
            Grid component, which is a powerful and flexible data grid control for building
            modern web applications In addition to displaying data, this demo also includes
            Create, Read, Update, and Delete (CRUD) operations using the Syncfusion Grid.
        </li>
    </div>
</div>